* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #64d7e6, #dcfdff) center no-repeat;
  color: #fff;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.todo-btn {
  cursor: pointer;
  color: #64d7e6;
  background: white;
  transition: all 0.3s ease;
}

.todo-btn:hover {
  background: #64d7e6;
  color: #fff;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color:  black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.complete-btn,
.delete-btn {
  background: #64d7e6;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(90, 255, 90);
}

.delete-btn {
  background: red;
}

.todo-item {
  padding: 0.5rem;
}

.fa-trash,
.fa-check  {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #64d7e6;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #64d7e6;
  top: 0;
  right: 0;
  padding: 1rem; 
  pointer-events: none;
  transition: all 0.3s ease;
}


.select:hover::after {
  background: white;
  color: #64d7e6;
}

.todo-filter option {
  padding: 1rem;
}